.app-container {
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex: 1;
    padding: 20px;
}

.footer {
    margin-top: auto;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
}
